body {
    color:white;
    background-color: black;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
}
.screenshot_wrapper img{
    width: 500px;
}

.content_wrapper {
    display: flex;
    background-color: #36383F;
    align-items: center;
}
.content_wrapper > .column_left_wrapper {
    display: flex;
    flex-direction: column;
}
.content_wrapper > .column_left_wrapper > .slogan1_wrapper {
    font-size: 1.5em;
    padding: 30px;
}
.content_wrapper > .column_left_wrapper > .slogan2_wrapper {
    font-size: 1.3em;
    padding: 30px;
    color: #b3b3b3;
}
.content_wrapper > .column_left_wrapper > .slogan_buttons_wrapper {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: space-around;
}
.content_wrapper > .column_left_wrapper > .slogan_buttons_wrapper > .button_signup {
    background-color: #2fb45a;
    color: black;
    padding:10px;
}
.content_wrapper > .column_left_wrapper > .slogan_buttons_wrapper > .button_learn {
    background-color:black;
    color: white;
    padding:10px;
}


.content_wrapper > .column_right_wrapper > .legend {

}
.content_wrapper > .column_right_wrapper > .screenshot_wrapper img {
    max-width: 300px;
}

